{% extends 'base.html' %}

{% block content %}
<div class="container-fluid admin-page">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4">{{ _('Адміністративна панель') }}</h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="admin-navigation">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
                            <i class="fas fa-tachometer-alt"></i> {{ _('Панель') }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="fas fa-blog"></i> {{ _('Блог') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('blog.admin_dashboard') }}">
                                    <i class="fas fa-th-large"></i> {{ _('Блоки блога') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.blocks') }}">
                            <i class="fas fa-cube"></i> {{ _('Блоки') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.products') }}">
                            <i class="fas fa-box"></i> {{ _('Продукти') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.settings') }}">
                            <i class="fas fa-cog"></i> {{ _('Налаштування') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
