{% extends 'base.html' %}
{% block title %}Контакти{% endblock %}

{% block content %}
<div class="page-content">
  <h1>Контакти</h1>
  <p>
    <strong>Телефон (Telegram):</strong> <a href="https://t.me/borisovi479" target="_blank">+49 160 95030120</a><br>
    <strong>WhatsApp (DE):</strong> <a href="https://wa.me/4916095030120" target="_blank">+49 160 95030120</a><br>
    <strong>e-mail:</strong> <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a><br>
    <strong>Telegram:</strong> <a href="https://t.me/borisovi479" target="_blank">@borisovi479</a>
  </p>

</div>
{% endblock %}
