{% extends 'base.html' %}
{% block title %}Impressum{% endblock %}

{% block content %}
<div class="page-content">
  <h1>Impressum</h1>
  <div class="alert alert-warning" style="font-size:1.1em;">
    <strong>Увага!</strong> Цей сайт є тестовим стартапом. Я ще не є юридичною фірмою чи зареєстрованою компанією. Як тільки буде створено компанію, інформація з'явиться тут.<br>
    З усіх питань звертайтесь до мене як до розробника через <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a> або за телефоном <a href="tel:+4916095030120">+49 160 95030120</a>.
  </div>
  <h2>Kontaktdaten</h2>
  <p>
    <strong>Name:</strong> <br>
    <strong>e-mail:</strong> <a href="mailto:pilipandr79@icloud.com">pilipandr79@icloud.com</a><br>
    <strong>Telefon (DE):</strong> <a href="tel:+4916095030120">+49 160 95030120</a><br>
    <strong>Telegram:</strong> <a href="https://t.me/borisovi479" target="_blank">@borisovi479</a>
  </p>

</div>
{% endblock %}
